body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

h2.text-center {
  font-size: 2rem;
  color: #343a40;
}

.custom-card {
  transition: transform 0.3s, box-shadow 0.3s;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-card img.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-card .card-body {
  padding: 1.5rem;
  background-color: #ffffff;
}

.custom-card .card-text {
  color: #495057;
}

.custom-card .d-flex .me-3 img {
  width: 30px;
  height: 30px;
}

.custom-card .d-flex .me-3 i {
  font-size: 1.5rem;
  color: #0077b5; /* Color para el icono de LinkedIn */
}
